/* Style sur l'ensemble de la page */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: auto;
  max-width: 1440px;
  align-content: center;
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0065fc;
}

ul {
  list-style: none;
}

figure {
  margin: 0;
}

/* Scroll fluide */
html {
  scroll-behavior: smooth;
}

/* Style sur la class container */

.container {
  margin: 0 50px 40px 50px;
  overflow: hidden;
}

/* Style sur le header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.menu ul {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu ul li {
  width: 123px;
  text-align: center;
  text-decoration: none;
  padding: 40px 20px 40px 20px;
  border-top: solid 2px #fff;
  overflow: hidden;
}

.menu ul li:hover {
  border-top: 2px solid #0065fc;
}

.inscription a {
  color: #0065fc;
  font-weight: bold;
}

/* Style sur la section search */

#section-search {
  margin-top: 10px;
}

.title {
  margin-bottom: 20px;
}

.title h1 {
  margin-bottom: 5px;
}

.search {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 15px 17px;
    font-size: 1.2rem;
}

.input {
    width: 210px;
    border: 1px solid #f2f2f2;
    padding: 15px 30px 15px 5px;
}

.input::placeholder {
    color: #000;
    text-align: center;
    font-size: 1.2rem;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn {
    padding: 15px;
    margin-left: -10px;
    font-family: Raleway, sans-serif;
    font-size: 0.9rem;
    color: #fff;
    background-color: #0065fc;
    border: 2px solid #f2f2f2;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
}

.btn:hover {
    font-weight: bold;
    color: #0065fc;
    background-color: #deebff;
    transform: scale(1);
}

.fa-search {
    visibility: hidden;
}

/* Style sur les filtres */

input[type="checkbox"] {
    display: none;
}

.filter {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.filter-title h3 {
    padding-right: 15px;
    padding-left: 0;
}

.filter-title,
.filter-option {
  margin: 5px 20px 5px 0;
}

.filter-option-block{
    display: flex;
    flex-direction: row;
}

.filter-option label{
    height: 43px;
    border: 3px solid #f2f2f2;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.filter-option label:hover {
    color: #000;
    background-color: #deebff;
    transform: scale(1.08);
}

.filter-text {
    font-weight: bold;
    padding-left: 60px;
    padding-right: 10px;
    margin: 0;
}

.filter-option input[type="checkbox"]:checked + label {
    background-color: #0065FC;
    color: #fff;
    border: 3px solid #f2f2f2;
    font-weight: bold;
}

/* Style sur les icônes des filtres */

.filter .fas {
    width: 20px;
    text-align: center;
    padding: 14px;
    position: absolute;
    border-radius: 100px;
    background: #deebff;
    color: #0065fc;
    font-size: 1.2em;
}

.filter-option label:hover .fas{    
    transition: all 0.5s ease;    
    transform: rotate(360deg);
}

/* Style sur le bloc info */

.info {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

  .fa-info {
    margin-right: 10px;
    width: 20px;
    padding: 4px;
    border: 2px solid #f2f2f2;
    border-radius: 100px;
    text-align: center;
    background: #fff;
    color: #0065fc;
}

/* Style sur la section hébergement avec id: accomodation */

#accomodation {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;   
}

#accomodation a:hover {
    color: #000;
}
