/* Style sur l'ensemble de la page */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: auto;
  max-width: 1440px;
  align-content: center;
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0065fc;
}

ul {
    list-style: none;
}

figure {
  margin: 0;
}

/* Scroll fluide */
html {
  scroll-behavior: smooth;
}

/* Style sur la class container */

.container {
  margin: 0 50px 40px 50px;
  overflow: hidden;
}

/* Style sur le header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.menu ul {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu ul li {
  width: 123px;
  text-align: center;
  text-decoration: none;
  padding: 40px 20px 40px 20px;
  border-top: solid 2px #fff;
  overflow: hidden;
}

.menu ul li:hover {
  border-top: 2px solid #0065fc;
}

.inscription a {
  color: #0065fc;
  font-weight: bold;
}
